page-home {
  .home-table-label {
    font-size: 19px;
    margin-top: 18px;
  }
  .home-table-label-input {
    font-size: 30px;
  }

  .home-table-profit-row {
    background-color: color($colors, secondary);
  }

  .bottom-table-options-row {
    font-size: 19px;
    color: color($colors, primary);
  }
}

.up .arrow-options {
  transform: rotate(-180deg);
}

.arrow-options {
   transition: transform 0.3s ease-in-out;
}

//// generic transform
//@mixin transform($transforms) {
//  -moz-transform: $transforms;
//  -o-transform: $transforms;
//  -ms-transform: $transforms;
//  -webkit-transform: $transforms;
//  transform: $transforms;
//}
//
//// rotate
//@mixin rotate ($deg) {
//  @include transform(rotate(#{$deg}deg));
//}
//
///////////////////////////////////
//
//
//.spin {
//  animation-name: spin;
//  animation-duration: 1000ms;
//  animation-iteration-count: 1;
//  animation-timing-function: linear;
//}
//@keyframes spin {
//  from {
//    transform:rotate(0deg);
//  }
//  to {
//    transform:rotate(180deg);
//  }
//}
