page-home {
  .home-table-label {
    font-size: 19px;
    margin-top: 18px;
  }
  .home-table-label-input {
    font-size: 30px;
  }

  .home-table-profit-row {
    background-color: color($colors, secondary);
  }
}
